services:
  # Infrastructure
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
      - ./redis/redis.conf:/usr/local/etc/redis/redis.conf
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]

  swagger-ui:
    image: swaggerapi/swagger-ui
    container_name: swagger-central
    ports:
      - "8082:8080"
    environment:
      URLS: >-
        [ 
          { "url": 'http://localhost:8080/api/card/api-docs.json', "name": 'Card Service' },
          { "url": 'http://localhost:8080/api/game/api-docs.json', "name": 'Game Service' }, 
          { "url": 'http://localhost:8080/api/lobby/api-docs.json', "name": 'Lobby Service' } 
        ]

  # Microservices
  reverse-proxy:
    build:
      context: ./reverse-proxy
      dockerfile: Dockerfile.dev
    container_name: reverse-proxy
    ports:
      - "8080:80"
    depends_on:
      - frontend
      - game
      - lobby
      - card
    volumes:
      - ./reverse-proxy/logs:/var/log/nginx

  card:
    build:
      context: ./services/card
      dockerfile: Dockerfile.dev
    container_name: card-service
    volumes:
      - ./services/card/src:/app/src
      - /app/node_modules
    env_file:
      - .env
    depends_on:
      - redis

  game:
    build:
      context: ./services/game
      dockerfile: Dockerfile.dev
    container_name: game-service
    volumes:
      - ./services/game/src:/app/src
      - /app/node_modules
    env_file:
      - .env
    depends_on:
      - card
      - redis

  lobby:
    build:
      context: ./services/lobby
      dockerfile: Dockerfile.dev
    container_name: lobby-service
    volumes:
      - ./services/lobby/src:/app/src
      - /app/node_modules
    env_file:
      - .env
    depends_on:
      - game
      - redis

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: frontend
    ports:
      - "5173:80"
    volumes:
      - ./frontend:/app
      - /app/node_modules

volumes:
  redis_data:
